// Correlated with column break points
//
$rem-size:           16px              !default;
$body-size:          1rem              !default;
$small-size:         0.85rem           !default;
$baseline:           0.25rem           !default;
$leading:            5*$baseline       !default;
$indent:             1em               !default;

$container-ratio:        11/12;
$container-ratio-medium: 10/12;
$container-ratio-large:  8/12;
$max-width: 60rem;

$gutter:    4%;
$col-count: 12;

$spacing: (
  padding-x: $gutter,
  padding-y: $baseline,
  padding-outer-x: $gutter / 2,
  padding-outer-y: $baseline
);

$padding-x: map-get($spacing, padding-x);
$padding-y: map-get($spacing, padding-y);
$padding-outer-x: map-get($spacing, padding-outer-x);
$padding-outer-y: map-get($spacing, padding-outer-y);
